@import url(figure.css);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  font: 100.01%/1.375 Times, 'Times New Roman', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Times, 'Times New Roman', serif;
  margin-top: 0;
  margin-bottom: 22px;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
h1 {
  font-size: 2.375em;
  line-height: 1.1578947368421;
  font-weight: normal;
}
h1 ~ h2,
h1 ~ h3,
h1 ~ h4,
h1 ~ h5,
h1 ~ h6 {
  margin-top: 44px;
}
h2 {
  font-size: 1.875em;
  line-height: 1.4666666666667;
  font-weight: normal;
}
h2 ~ h3 {
  margin-top: 22px;
}
h3 {
  font-size: 1.375em;
  font-weight: normal;
}
h4 {
  font-size: 1.25em;
  line-height: 1.1;
  font-weight: normal;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
p {
  margin-top: 0;
  margin-bottom: 22px;
}
small,
.small,
.smaller {
  font-size: 0.875em;
}
blockquote {
  border-left: 2px solid #ccc;
  padding-left: 1em;
  margin-left: 0;
  margin-bottom: 22px;
}
strong,
b {
  font-weight: bold;
}
mark {
  color: #333;
  background-color: #eee;
}
em,
i,
dfn {
  font-style: italic;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  margin-bottom: 1.375em;
  white-space: pre;
}
pre,
code,
kbd,
samp,
.code {
  font: 1em/1.375 monospace;
}
p code,
td > code {
  white-space: nowrap;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  padding: 0.1em 0.2em 0.1em 0.2em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
div.code {
  white-space: pre;
}
div.code,
pre code {
  display: block;
  overflow: auto;
}
div.code,
pre code,
.geshi {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 20px;
  background-color: #eee;
  padding-left: 0.5em;
}
ul,
ol {
  margin: 0 0 22px 0;
  padding-left: 1.5em;
}
ul p,
ol p {
  margin-top: 11px;
  margin-bottom: 11px;
}
li ul,
li ol,
ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0;
}
ul {
  margin-left: -8px;
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.375em 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
dl.dl-horizontal {
  *zoom: 1;
}
dl.dl-horizontal:before,
dl.dl-horizontal:after {
  content: "";
  display: table;
}
dl.dl-horizontal:after {
  clear: both;
}
dl.dl-horizontal:before,
dl.dl-horizontal:after {
  content: "";
  display: table;
}
dl.dl-horizontal:after {
  clear: both;
}
dl.dl-horizontal dt {
  clear: left;
  float: left;
  width: 5em;
}
dl.dl-horizontal dd {
  margin-left: 6em;
  display: block;
}
article table,
.table {
  margin-bottom: 22px;
  width: 100%;
}
article caption,
.table  caption {
  text-align: left;
  font-style: italic;
}
article thead,
.table  thead {
  border-bottom: 2px solid #333;
}
article th,
.table  th {
  vertical-align: bottom;
  font-weight: bold;
  text-align: left;
}
article th,
article td,
.table  th,
.table  td {
  padding: 5px 10px 5px 5px;
}
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr.even td {
  background-color: #f6f6f6;
}
article tbody tr,
.table  tbody tr {
  border-bottom: 1px solid #ddd;
}
article tbody tr:hover,
.table  tbody tr:hover {
  color: #222;
  border-color: #aaa;
}
article tfoot,
.table  tfoot {
  font-style: italic;
}
hr {
  color: #ccc;
  border-color: #ccc;
  margin: 22px auto;
}
body {
  color: #333;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow-y: scroll;
}
a {
  color: #823038;
}
output {
  color: #845D23;
  margin-bottom: 15px;
  padding: 15px;
  width: 600px;
  display: inline-block;
}
#wrapper {
  width: 980px;
  padding: 10px;
}
#wrap-featured,
#wrap-main,
#wrap-triptych,
#wrap-footer-col {
  *zoom: 1;
}
#wrap-featured:before,
#wrap-featured:after,
#wrap-main:before,
#wrap-main:after,
#wrap-triptych:before,
#wrap-triptych:after,
#wrap-footer-col:before,
#wrap-footer-col:after {
  content: "";
  display: table;
}
#wrap-featured:after,
#wrap-main:after,
#wrap-triptych:after,
#wrap-footer-col:after {
  clear: both;
}
#wrap-featured:before,
#wrap-featured:after,
#wrap-main:before,
#wrap-main:after,
#wrap-triptych:before,
#wrap-triptych:after,
#wrap-footer-col:before,
#wrap-footer-col:after {
  content: "";
  display: table;
}
#wrap-featured:after,
#wrap-main:after,
#wrap-triptych:after,
#wrap-footer-col:after {
  clear: both;
}
#header {
  position: relative;
}
#main {
  min-height: 20em;
}
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 22px;
}
.sitefooter {
  color: #666;
}
.article1 {
  width: 770px;
  padding-right: 1em;
}
.byline {
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #666;
  font-size: 0.9em;
}
.byline p {
  margin-top: 0;
}
#header,
#navbar,
#flash,
#footer {
  display: inline;
  float: left;
  width: 950px;
  margin: 0 5px;
  margin-bottom: 22px;
}
#main {
  display: inline;
  float: left;
  width: 630px;
  margin: 0 5px;
  margin-bottom: 22px;
}
#sidebar {
  display: inline;
  float: left;
  width: 310px;
  margin: 0 5px;
  margin-bottom: 22px;
}
#featured-1,
#featured-2,
#featured-3,
#triptych-1,
#triptych-2,
#triptych-3 {
  display: inline;
  float: left;
  width: 310px;
  margin: 0 5px;
  margin-bottom: 22px;
}
#footer-col-1,
#footer-col-2,
#footer-col-3,
#footer-col-4 {
  display: inline;
  float: left;
  width: 230px;
  margin: 0 5px;
  margin-bottom: 22px;
}
#navbar {
  margin-bottom: 44px;
}
.navbar {
  background-color: #DEE5E9;
  border-radius: 4px;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline-block;
  border-top: 4px solid transparent;
  color: #333;
  position: relative;
}
.navbar a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
.navbar li:hover {
  color: #222;
  border-color: #DEBA6F;
  background-color: #88A2AA;
}
.navbar li.selected-parent,
.navbar li.selected {
  color: #222;
  border-color: #DEBA6F;
}
.navbar ul ul {
  background-color: #fff;
  padding: 2px 6px 2px 0;
  position: absolute;
  left: -9999px;
  z-index: 2;
  background-color: #eee;
}
.navbar li li {
  width: 100%;
  border-top: none;
  border-left: 4px solid transparent;
}
.navbar li:hover ul {
  left: 0;
}
.navbar li li:hover {
  color: #666;
  border-color: #666;
}
.navbar li li.selected {
  color: #222;
  border-color: #222;
}
fieldset {
  border: 0px;
  padding: 0px;
}
fieldset > p {
  margin-bottom: -12px;
}
label {
  font-size: 0.8em;
}
input[type=text],
input[type=password] {
  font-size: 1em;
  width: 300px;
}
input[type=submit],
input[type=reset] {
  font-size: 0.8em;
}
textarea {
  font-size: 1.1em;
  width: 500px;
  min-height: 70px;
}
p.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}
.comments {
  max-width: 600px;
}
.comment {
  font-size: 0.8em;
}
.comment a {
  font-weight: bold;
  text-decoration: none;
  color: #5491D4;
}
.comment-id {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 70px;
}
.comment-id a {
  vertical-align: top;
}
.comment-content {
  display: inline-block;
  float: right;
  width: 520px;
}
.comment-divider {
  clear: both;
  height: 10px;
}
.comment-header {
  line-height: 1em;
  margin-top: 2px;
  padding-top: 0px;
  font-weight: bold;
  color: grey;
}
.comment-footer {
  color: grey;
}
