/**
 * General elements
 */

@import url(figure.css);

body {
  color: #333;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow-y: scroll;
}

h1 {
  font-size: 2.1em;
  color: #88A2AA;
}

h2 {
  font-size: 1.9em;
  color: #5a777f;
}

h3 {
  font-size: 1.5em;
  color: #93304E;
}

a {
  color: #823038;
}

/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 10px;
}


/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
}

.sitetitle {
  color: #deba6f;
  position: absolute;
  top: 6px;
  left: 145px;
  font-size: 48px;
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 145px;
  font-style: italic;
  color: #88A2AA;
}


/**
 * Layout for main
 */
#main {
  min-height: 20em;
}


/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 22px;
}

.sitefooter {
  color: #666;
}


/**
 * For articles
 */
.article1 {
  width: 770px;
  padding-right: 1em;
}

.article1 h1,
.article1 h2 {
  
}

.byline {
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #666;
  font-size: 0.9em;
}

.byline p {
  margin-top: 0;
}
